img{
    height: 100px;
}

.usuarios-publicaciones-top{
    width: 100%;
    display: flex;
}

.informacion-usuario-publico {
    margin-left: 10px;
    display: block;
}

.contenido-publicacion-usuario {
    width: 100%;
    margin-top: 10px;
}

.imagen-publicacion-usuario {
    width: 100%;
    object-fit: cover;
}

.acciones-publicacion-usuario {
    margin-left: auto;
}

.acciones-usuario-publicar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 500px) {
    .container-usuario-publicar {
        margin-top: 10px;
    }
}